html {
    /* background: url(images/background-blank-empty-light-62693.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background: #00B4DB; /*   fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);   /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

header {
    /* position: absolute; */
    /* top:0; */
    width: 100%;
    /* height: 4.5rem;  */
}

/* Begin Scroll Indicator */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #fff;
  }
  
  .progress-bar {
    height: 8px;
    background: #1f3d7a;
    width: 0%;
  }
  /* End of Scroll Indicator */

.colorOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
}

.selectStyle {
    color: white;
    font-size: 1rem;
    /* margin-top: 20px; */
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 10px;
}

p {
    color: #383838;
}



.title {
    margin: 0;
    margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
}

.title2 {
    margin: 0;
    /* margin-top: 15rem; */
    margin-left: auto;
    margin-right: auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 770px; 
}

#customer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#authors { 
    /* margin-left: 10%; */
}

.question {
    color: white;
    text-align: center;
    font-family: 'Gelasio', serif;
    font-size: 4rem;
    padding-bottom: 35px;
}

#authors li {
    width: 550px;
    height: 210px;
    background-color: white;
    margin-right: 35px;
    margin-bottom: 35px;
    padding-left: 50px;
    border-radius: 15px;
    -webkit-box-shadow: 1px -11px 13px -8px rgba(0,0,0,0.59);
    -moz-box-shadow: 1px -11px 13px -8px rgba(0,0,0,0.59);
    box-shadow: 1px -11px 13px -8px rgba(0,0,0,0.59);
}
/* #authors li:first-child { margin-top: 100px;} */
#authors img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-left: 38%; */
    margin-top: 9%;
}
#authors span {
    margin-left: 136px;
  color: #383838;
}
#authors p {
    /* text-align:center; */
    float: right;
    margin-top: 50px;
    width: 75%;
}

h1 {
    font-family: 'Gelasio', serif;
    font-size: 8rem;
    color:#fff;
}

article {
    margin-top: 10%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

article h2 {
    text-align: center;
    font-family: 'Gelasio', serif;
    font-size: 4rem;
    color: white;
}

article p {
    font-size: 1.15rem;
    color: white;
    padding-bottom: 300px;
    line-height: 1.75;
}

#rules {
margin: 0;
font-size: 3rem;
font-weight: 400; /* This fixes iOS bug with Google Fonts wide letter spacing */
/* margin-left: 1%; */
margin-left: auto;
margin-right: auto;
width: 75%;
text-align: center;
}

/* article {
    display: flex;
    flex-direction: column;
    width: 900px;
} */

#menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin-top: -30px;
    -webkit-box-shadow: 1px -11px 13px -8px rgba(0,0,0,0.59);
    -moz-box-shadow: 1px -11px 13px -8px rgba(0,0,0,0.59);
    box-shadow: 1px -11px 13px -8px rgba(0,0,0,0.59);
}

button {
    color: #BEBEBE;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: transparent;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    bottom: 0; 
}

.menuBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 200px;
    /* clear: both; */
}

ul {
/* display: block; */
list-style-type: none;
/* margin-left: 32.5%;
margin-right: 33.5%; */
margin-top: -10px;
padding-bottom: 15px;
}

li {
    float: left;
    padding-right: 35px;
}

li a {
    text-decoration: none;
    color: #B0B0B0;
}

li a:hover {
    color: #686868;
}

.active {
    border-bottom: 2px solid#ccc;
    padding-bottom: 8px;
    margin-bottom: 4px;
}
